
@import "../../../styles/constants.scss";

.container{
   .title{
   width:100%;
   font-family: $montserrat;
   font-weight: 300;
   margin:0 auto;
   padding: 2rem;
   padding-top:10%;
   color:white;
   text-align: center;
   }
   
}