@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300&family=Work+Sans&display=swap');
$mainFont: 'Raleway', sans-serif;



$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;


$green: #f9313e;
$blue: #272CA6;
$black : #2F2E41;
$grey: #5B5B5B;


$mobile: "only screen and (max-width : 800px)";
$desktop: "only screen and (min-width : 801px)";


